/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*{
  color: #222;
  margin: 0;
  padding: 0;
}

.banner {
  background-image: url("/img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 500px;
}
