@import url('https://fonts.googleapis.com/css2?family=REM:wght@400;500&family=Red+Hat+Display:wght@400;500;900&display=swap');

*{
  color: #222;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.container-menu-nav{
  position: absolute;
  width: 88.9vw;
  height: 100px;
  border-bottom: 1px solid #00000017;
  padding: 12px 65px 0;
  .logo-main{
    width: 120px;
  }
  .menu-nav{
    position: relative;
    top: -60px;
    left: 587px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 47vw;
  }
}
li{
  display: inline;
  font-family: 'REM', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
  padding: 0 15px;
}
a{
  text-decoration: none;
}
/* Começo da config de Efeito Hover no menu NAV*/
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -2px;
  background: #222222;
  height: 4px;
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  transform: translateY(0);
}
/* Final da config de Efeito Hover no menu NAV*/
span{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 600;
  font-size: 4.6rem;
  padding: 14px 0;
  background: #0A0707;
  color: white;
  width: 311px;
  text-decoration: underline;
  text-decoration-style: wavy;
}
h1{
  margin: 0;
  font-weight: 500;
}
.banner {
  background-image: url("/img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 500px;
  .notebook{
    width: 80vw;
  }
  .notebook-img{
    position: relative;
    top: 185px;
    left: 770px;
    width: 500px;
  }
  .banner-texts{
    color: #0A0707;
    display: flex;
    position: relative;
    top: -212px;
    left: 370px;
    font-family: 'Red Hat Display', sans-serif;
    width: 470px;
    font-size: 2.2rem;
    align-items: initial;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .banner-btn{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    position: relative;
    bottom: 210px;
    left: 373px;
    width: 280px;
  }
}
a.btn-1{
  background: #0A0707;
  padding: 13px;
  margin-right: 30px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
  border-radius: 10px;
}
.btn-1:hover{
  background: #0a0707e6;
}
a.btn-2{
  font-family: 'Red Hat Display', sans-serif;
  background: #0A0707;
  padding: 13px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
  border-radius: 10px;
}
.btn-2:hover{
  background: #0a0707e6;
}
/* Começo da config de Efeito Hover nos botões do banner*/
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
/* Final da config de Efeito Hover nos botões do banner*/
.about-us{
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  margin: 125px 0;
  padding: 0 65px;
}
.about-titles{
  font-size: 1.7rem;
  width: 765px;
  margin-right: 115px;
}
.abt-h1{
  font-weight: 500;
}
.about-txt{
  font-size: 1.1rem;
  line-height: 19px;
  text-align: justify;
  width: 831px;
  letter-spacing: 0.7px;
}
p.txt{
  color: #7A7A7A;
  margin-top: 19px;
  line-height: 22px;
}
.services{
  display: grid;
  justify-content: center;
  column-gap: 130px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: 0 180px;
}
.serv-1, .serv-2, .serv-3{
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 240px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
  border-radius: 5px;
}
img.icon{
  width: 80px;
  padding-bottom: 10px;
}
.ttl-services{
  font-size: 1.7rem;
  padding-bottom: 10px;
  padding-left: 10px;
}
.services-txt{
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #7A7A7A;
}
.services-2{
  width: 100%;
  margin-top: 200px;
}
.shape, .shape-2{
  width: 79%;
  height: 430px;
  background: #FCE600;
  margin-left: 220px;
  border-radius: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}
.shape-2{
  margin-top: 290px;
  margin-left: 49px;
  margin-bottom: 150px;
}
.divider{
  margin-bottom: 75px;
  width: 100%;
  height: 1px;
}
.shape-txts{
  font-family: 'Red Hat Display', sans-serif;
  margin-left: 340px;
  padding-top: 80px;
}
.shape-txts2{
  font-family: 'Red Hat Display', sans-serif;
  margin-left: 80px;
  padding-top: 80px;
}
h1.shape-txt{
  color: #222222;
  font-size: 2.3rem;
  font-weight: 500;
  width: 510px;
  padding-bottom: 20px;
}
p.p-txt{
  text-align: justify;
  color: #222222;
  font-size: 1.3rem;
  width: 590px;
  padding-bottom: 40px;
}
.p-services{
  padding-bottom: 20px;
}
.checker{
  width: 25px;
  margin-right: 5px;
}
p.p-txt2{
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 1.1rem;
  width: 590px;
  padding-bottom: 10px;
}
a.btn-shape{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  background: #0A0707;
  padding: 13px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
  border-radius: 10px;
}
a.btn-shape:hover{
  background: #0a0707e6
}
/* Começo da config de Efeito Hover nos botões da segunda sessão de serviços */
@-webkit-keyframes hvr-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* Final da config de Efeito Hover nos botões da segunda sessão de serviços */
.sha-img-1{
  position: absolute;
  left: 50px;
  top: 1527px;
  width: 300px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  border-radius: 15px;
}
.sha-img-2{
  position: absolute;
  left: 150px;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  border-radius: 15px;
}
.sha-img-3{
  position: absolute;
  left: 740px;
  top: 2100px;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  border-radius: 15px;
}
.sha-img-4{
  position: absolute;
  left: 888px;
  top: 2160px;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  border-radius: 15px;
}
.prices-container{
  display: flex;
  max-width: 1200px;
  margin: 0 50px 150px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}
.prices-1, .prices-2, .prices-3, .prices-4{
  width: 300px;
  height: 600px;
  border: 1px solid #7a7a7a69;
  padding: 30px 30px 50px 30px;
}
.prices-1, .prices-2, .prices-3{
  border-right: none;
}
h2.price-header{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2.2rem;
  margin-bottom: 15px;
}
p.price-txt{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
}
span.mensal{
  font-weight: 100;
  color: #222222;
  background: none;
  text-decoration: none;
  font-size: 1.6rem;
}
.prices-btn{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  background: #262E33;
  padding: 13px 64px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  border-bottom: 5px solid #FCE500;
  margin-bottom: 46px;
}
hr.prices-divider{
  margin-bottom: 46px;
}
.inclusos-divider{
  margin-bottom: 50px;
}
p.prices-txt2{
  font-family: 'Red Hat Display', sans-serif;
  color: #7A7A7A;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 28px;
}
.checker2{
  width: 29px;
  margin-right: 5px;
}
.faq-header{
  font-family: 'Red Hat Display', sans-serif;
  background: #262E33;
  color: #ffffff;
  padding: 20px 257px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.qa-container{
  font-family: 'Red Hat Display', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}
summary:hover{
  cursor: pointer;
}
.faq-container{
  display: flex;
  max-width: 1210px;
  margin: 0 51px 150px;
  flex-direction: column;
  align-items: center;
  background: #FCE500;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}
.faq-bg{
  width: 680px;
  padding-bottom: 20px;
}
.faq-question{
  text-align: justify;
  color: #222222;
  font-size: 1.2rem;
  font-weight: 500;
}
.faq-question::marker{
  color: #262E33;
  font-size: 1.4rem;
}
.faq-answer{
  width: 680px;
  text-align: justify;
  margin-top: 20px;
  color: #222222;
  font-size: 1.1rem;
}
.shape-contact{
  display: flex;
  max-width: 1200px;
  margin: 0 51px 150px;
  height: 270px;
  background: #FFFFFF;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  border-top: 5px solid #FCE500;
}
.contact-txts{
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  text-align: center;
  width: 430px;
  font-size: 1.4rem;
  flex-direction: column;
  margin-left: 130px;
  margin-right: 160px;
}
.contact-btns{

}
.btn-contact-1{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  background: #0A0707;
  padding: 13px;
  margin-right: 60px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
  border-radius: 10px;
}
.btn-contact-1:hover{
  background: #0a0707e6;
}
.btn-contact-2{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  background: #0A0707;
  padding: 13px;
  margin-right: 30px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
  border-radius: 10px;
}
.span-contact{
  display: flex;
  width: 221px;
  color: #FCE401;
  margin-top: 10px;
  margin-left: 100px;
  font-size: 2.3rem;
}
footer{
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  width: 100%;
  height: 400px;
  background: #262E33;
}
.logo-footer{
  width: 120px;
}
.col-1, .col-2, .col-3, .col-4{
  width: 300px;
  border: 1px solid #7a7a7a69;
  padding: 40px 0 20px 30px;
}
.txt-container-1{
  margin-top: 40px;
  line-height: 27px;
}
.txt-container-2{
  display: flex;
  flex-direction: column;
}
.txt-container-3{
  display: flex;
  flex-direction: column;
}
.footer-txt{
 color:#FFFFFF;
}
.p-footer{
  color: #ffffff;
  padding-right: 16px;
  font-size: 1.1rem;
  padding-bottom: 30px;
}
.header-2-footer{
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 40px;
}
.links-footer{
  font-size: 1.2rem;
  color: #FFFFFF;
  padding-top: 20px;
}
.links-footer:hover{
  font-weight: 600;
}
.socials{
  width: 35px;
  padding-right: 15px;
}
.footer-imgs{
  padding-bottom: 30px;
}
.copyright{
  color: #ffffff;
  font-size: 1.1rem;
}

/* Começo da config do scrollbar*/
html::-webkit-scrollbar {
  width: 7px;
}
html::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 5px;
}
/* Final da config do scrollbar*/
